<%= simple_form_for(@gym) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :phone %>
    <%= f.input :website %>
    <%= f.input :email %>
    <%= f.input :rate %>
    <%= f.input :image_url %>
    <%= f.association :feature, collection: Feature.all, label_method: :name, value_method: :id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
